* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;
}

h1 {
  color: #1e202a;
}

p {
  color: #63687e;
  font-weight: 700;
}

.navbar {
  background-color: #f5f7ff;
  padding: 40px 2rem 6rem 2rem;
  border-radius: 0 0 2rem 2rem;
}

.black-line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 2rem 0;
}

.toggle-icon {
  width: 55px;
  border-radius: 3rem;
  background-color: #aeb3cb;
  padding: 3px;
  float: right;
  cursor: pointer;
}

.toggle-circle {
  background-color: white;
  border-radius: 4rem;
  height: 20px;
  width: 20px;
  float: right;
}

.content-wrapper {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.social-grid-container {
  position: relative;
  top: -3rem;
  display: grid;
  gap: 2rem;
  width: 100%;
}

.social-grid-item {
  background-color: #f0f2fa;
  border-radius: 0.5rem;
  border-top: 5px solid blue;
  padding: 2rem 5rem;
  text-align: center;
}

.social-grid-item h1 {
  font-size: 4rem;
}

.social-grid-item .middle-text {
  margin: 2rem 0;
}

.social-grid-item .middle-text p {
  font-weight: 400;
  letter-spacing: 5px;
}

.fab {
  margin-right: 0.5rem;
}

.up-today {
  color: #1db489;
  display: inline-block;
}

.down-today {
  color: #dc414c;
  display: inline-block;
}

.arrow-up {
  border-bottom: 5px solid #1db489;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  display: inline-block;
  margin-bottom: 3px;
}

.arrow-down {
  border-top: 5px solid #dc414c;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  display: inline-block;
  margin-bottom: 3px;
}

.inline {
  display: inline-block;
}

.mobile-flex-container {
  display: flex;
}

.mobile-flex {
  display: flex;
  flex: 1;
  flex-basis: 50%;
}

.float-right {
  float: right;
}

.fa-facebook-square {
  color: #198ff5;
}

.fa-twitter {
  color: #1ca0f2;
}

.fa-instagram {
  background: -webkit-gradient(linear, left bottom, right top, from(#fdc468), to(#df4996));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-youtube {
  color: white;
  background-color: #c4032a;
  margin: 0;
}

.youtube-wrapper {
  display: inline-block;
  background-color: #c4032a;
  padding: 3px;
  border-radius: 4rem;
}

.overview-header {
  margin-bottom: 2rem;
}

.overview-header h1 {
  color: #63687e;
  font-size: 2.3rem;
}

.analytics-grid-container {
  display: grid;
  gap: 2rem;
}

.analytics-grid-item {
  background-color: #f0f2fa;
  border-radius: 0.5rem;
  padding: 30px;
}

.analytics-grid-item .mobile-flex-container:nth-of-type(1) {
  margin-bottom: 2rem;
}

.analytics-grid-item .mobile-flex-container:nth-of-type(1) .mobile-flex:nth-of-type(2) {
  justify-content: flex-end;
}

.analytics-grid-item .mobile-flex-container:nth-of-type(2) .mobile-flex:nth-of-type(2) {
  align-items: flex-end;
  justify-content: flex-end;
}

@media screen and (min-width: 1052px) {
  .mobile {
    display: none;
  }
  .black-line {
    display: none;
  }
  .navbar {
    padding: 40px 10% 12rem 10%;
  }
  .content-wrapper {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .social-grid-container {
    display: grid;
    grid-template-areas: "a b c d";
  }
  .social-grid-container .social-grid-item {
    display: inline-block;
    padding: 1rem;
  }
  .social-grid-container .social-grid-item:nth-of-type(1) {
    grid-area: a;
  }
  .social-grid-container .social-grid-item:nth-of-type(1) {
    grid-area: b;
  }
  .social-grid-container .social-grid-item:nth-of-type(1) {
    grid-area: c;
  }
  .social-grid-container .social-grid-item:nth-of-type(1) {
    grid-area: d;
  }
  .analytics-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex {
    flex: 1;
    flex-basis: 50%;
  }
}

@media screen and (min-width: 1252px) {
  .social-grid-item {
    padding: 2rem !important;
  }
}
