// Variables
:root {
  --background-color: white;
  --top-background-color: hsl(225, 100%, 98%);
  --card-background-color: hsl(227, 47%, 96%);
  --heading-color: hsl(228, 12%, 44%);
  --text-content-color: hsl(230, 17%, 14%);
  --toggle-color: hsl(230, 22%, 74%);
}
$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);
$dark-red: hsl(348, 97%, 39%);
// Mixins
@mixin drawTriangle() {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  display: inline-block;
  margin-bottom: 3px;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;
}

.main {
  background-color: var(--background-color);
}
h1 {
  color: var(--text-content-color);
}
p {
  color: var(--heading-color);
  font-weight: 700;
}
.navbar {
  background-color: var(--top-background-color);
  padding: 40px 2rem 6rem 2rem;
  border-radius: 0 0 2rem 2rem;
}

.black-line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 2rem 0;
}

.toggle-icon {
  width: 55px;
  border-radius: 3rem;
  background-color: var(--toggle-color);
  padding: 3px;
  cursor: pointer;
  &:hover {
    background: linear-gradient(
      to right,
      hsl(210, 40%, 38%),
      hsl(146, 68%, 55%)
    );
  }
}
.toggle-circle {
  background-color: var(--background-color);
  border-radius: 4rem;
  height: 20px;
  width: 20px;
  float: right;
}
.float-left {
  float: left;
}
.color-toggle {
  background: linear-gradient(to right, hsl(210, 40%, 38%), hsl(146, 68%, 55%));
}
.content-wrapper {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.social-grid-container {
  position: relative;
  top: -3rem;
  display: grid;
  gap: 2rem;
  width: 100%;
}

.social-grid-item {
  background-color: var(--card-background-color);
  border-radius: 0.5rem;
  border-top: 5px solid hsl(208, 92%, 53%);
  padding: 2rem 5rem;
  text-align: center;
  cursor: pointer;
  h1 {
    font-size: 4rem;
  }
  .middle-text {
    margin: 2rem 0;
    p {
      font-weight: 400;
      letter-spacing: 5px;
    }
  }
  &:nth-of-type(3) {
    border-top: 5px solid;
    border-image: linear-gradient(45deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%))
      1;
  }

  &:nth-of-type(4) {
    border-top: 5px solid $dark-red;
  }
  &:hover {
    background-color: hsl(230, 22%, 74%);
  }
}

.fab {
  margin-right: 0.5rem;
}

// Reusable
.up-today {
  color: $lime-green;
  display: inline-block;
}
.down-today {
  color: $bright-red;
  display: inline-block;
}
.arrow-up {
  border-bottom: 5px solid $lime-green;
  @include drawTriangle();
}
.arrow-down {
  border-top: 5px solid $bright-red;
  @include drawTriangle();
}
.inline {
  display: inline-block;
}
.mobile-flex-container {
  display: flex;
}

.mobile-flex {
  display: flex;
  flex: 1;
  flex-basis: 50%;
}
.dark-mode-title {
  float: left;
}

.dark-mode-icon {
  float: right;
}
.float-right {
  float: right;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

// End of reusable

.fa-facebook-square {
  color: hsl(208, 92%, 53%);
  background-color: var(--background-color);
}

.fa-twitter {
  color: hsl(203, 89%, 53%);
}

.fa-instagram {
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    from(hsl(37, 97%, 70%)),
    to(hsl(329, 70%, 58%))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-youtube {
  color: var(--background-color);
  background-color: hsl(348, 97%, 39%);
  margin: 0;
}
.youtube-wrapper {
  display: inline-block;
  background-color: hsl(348, 97%, 39%);
  padding: 3px;
  border-radius: 4rem;
}

.overview-header {
  margin-bottom: 2rem;
  h1 {
    color: hsl(228, 12%, 44%);
    font-size: 2.3rem;
  }
}

.analytics-grid-container {
  display: grid;
  gap: 2rem;
}

.analytics-grid-item {
  background-color: var(--card-background-color);
  border-radius: 0.5rem;
  padding: 30px;
  cursor: pointer;
  .mobile-flex-container:nth-of-type(1) {
    margin-bottom: 2rem;
    .mobile-flex:nth-of-type(2) {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  .mobile-flex-container:nth-of-type(2) {
    .mobile-flex:nth-of-type(2) {
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
  &:hover {
    background-color: hsl(230, 22%, 74%);
  }
}

@media screen and (min-width: 1052px) {
  .mobile {
    display: none;
  }
  .black-line {
    display: none;
  }
  .navbar {
    padding: 40px 10% 12rem 10%;
  }

  .content-wrapper {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .icon-holder {
    float: right;
  }
  .dark-mode-icon {
    float: left;
    margin-left: 1rem;
  }

  .social-grid-container {
    display: grid;
    grid-template-areas: "a b c d";
    .social-grid-item {
      display: inline-block;
      padding: 1rem;
    }
    .social-grid-item:nth-of-type(1) {
      grid-area: a;
    }
    .social-grid-item:nth-of-type(1) {
      grid-area: b;
    }
    .social-grid-item:nth-of-type(1) {
      grid-area: c;
    }
    .social-grid-item:nth-of-type(1) {
      grid-area: d;
    }
  }

  .analytics-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  // Reusable
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex {
    flex: 1;
    flex-basis: 50%;
  }

  // End of reusable
}

@media screen and (min-width: 1252px) {
  .social-grid-item {
    padding: 2rem !important;
  }
}
